/* I'm going to make the background a weird color for a sanity check*/

body {
	background-color: orange;
}

.filmstrip {
	width: 100%;
	overflow: inherit;
}

.left-button {
	float: left;
}

.right-button {
	float: right;
}